{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-typescript",
    "prettier/@typescript-eslint"
  ],
  "rules":{
    "object-curly-spacing": ["error", "never"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "indent": ["error", 2],
    "max-len": ["error", { "code": 90 }],
    "semi": ["error", "always"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      },
      "babel-module": {}
    }
  }
}
