{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules":{
    "prettier/prettier": ["error", { "singleQuote": true, "bracketSpacing": false, "trailingComma": "es5" }],
    "@typescript-eslint/no-unused-vars": ["error", {
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_"
    }],
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"]
      },
      "babel-module": {}
    }
  }
}
